.container {
    font-family: arial;
    font-size: 24px;
    width: 350px;
    height: 480px;
    margin-left: 500px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* background-color: rgb(1, 22, 22); */
  }
  .isbnmsg{
    color: rgb(12, 83, 3);
    font-size: 16px;
  }
  h1{
    color: blue;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
}
label{
    /* color: antiquewhite; */
}
